<mat-toolbar color="primary">
  <span>MEAN Project</span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/post/post-create']">
      <mat-icon>create</mat-icon>
      <span>Post Create</span>
    </button>
    <button mat-menu-item routerLink="/post/post-list">
      <mat-icon>list</mat-icon>
      <span>Post List</span>
    </button>
  </mat-menu>
</mat-toolbar>
