<div class="detail-container">
  <mat-card>
    <div class="container">
      <label for="id">ID</label>
      <mat-form-field>
        <input matInput value="{{ postId }}" />
      </mat-form-field>
      <label for="title">Title</label>
      <mat-form-field>
        <input matInput value="{{ title }}" [(ngModel)]="title" />
      </mat-form-field>
      <label for="content">Content</label>
      <mat-form-field>
        <input matInput value="{{ content }}" [(ngModel)]="content" />
      </mat-form-field>
    </div>
    <div class="btn">
      <button
        *ngIf="!isEditable"
        mat-raised-button
        color="basic"
        (click)="isEditable = !isEditable"
      >
        Edit
      </button>
      <button
        *ngIf="isEditable"
        mat-raised-button
        color="basic"
        (click)="onUpdatePost()"
      >
        Update
      </button>
      <button
        *ngIf="isEditable"
        mat-raised-button
        color="warn"
        (click)="onDeletePost()"
      >
        Delete
      </button>
    </div>
  </mat-card>
</div>
