<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="!isLoading">
  <div class="post-content" *ngFor="let post of postList">
    <div class="panel" *ngIf="postService.postlistUpdated$ | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <p>{{ post.title }}</p>
        </mat-expansion-panel-header>
        <div class="post-image">
          <img [src]="post.imagePath" [alt]="post.title" />
        </div>
        <p>{{ post.content }}</p>
        <mat-action-row [style]="{ padding: '2px' }">
          <button mat-button color="accent" (click)="onClick(post.id)">
            Details
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
></mat-paginator>

<div [style]="{ 'text-align': 'center' }">
  <div *ngIf="postList?.length === 0">
    <p>There's no post yet. Don't you want to add some?</p>
  </div>
</div>
