mat-form-field,
textarea {
  width: 100%;
}

button {
  width: 100px;
}

.mat-card-title {
  width: 70%;
  padding: 1rem 6rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
