<mat-card class="mat-card-title">
  <mat-form-field>
    <input
      matInput
      name="title"
      placeholder="title"
      [(ngModel)]="inputTitle"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      name="content"
      placeholder="content"
      [(ngModel)]="inputText"
      id="content"
      required
    />
  </mat-form-field>
  <p *ngIf="errorMsg" [style]="{ color: 'red' }">{{ errorMsg }}</p>
  <button mat-button color="primary" type="button" (click)="onSubmit()">
    Save Post
  </button>
</mat-card>
